body {
  margin: 0;
  padding: 0;
}
#connect-form-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#message-div {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

#message-div > div {
  margin: 20px;
}

#message-box {
  border: 2px solid black;
  height: 500px;
  width: 400px;
  overflow-y: scroll;
}

.message {
  margin: 5px;
}

h1 {
  padding: 0;
  margin: 0;
}
